<!-- FOOTER -->
<footer class="footer" id="areas">
  <div class="footer-inner">
    <div class="footer-grid">
      <div>
        <img src="LOGO.png" class="footer-logo" alt="Atlas Door Company">
        <div class="footer-tagline">LIFTING THE STANDARD.</div>
      </div>
      <div class="footer-col">
        <h4>Services</h4>
        <ul>
          <li><a href="installation.html">Installation</a></li>
          <li><a href="repair.html">Repair</a></li>
          <li><a href="openers.html">Openers</a></li>
          <li><a href="maintenance.html">Maintenance</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Company</h4>
        <ul>
          <li><a href="about.html">About Us</a></li>
          <li><a href="service-areas.html">Service Areas</a></li>
          <li><a href="index.html#contact">Contact</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Service Areas</h4>
        <ul>
          <li><a href="joshua.html">Joshua</a></li>
          <li><a href="burleson.html">Burleson</a></li>
          <li><a href="cleburne.html">Cleburne</a></li>
          <li><a href="godley.html">Godley</a></li>
          <li><a href="crowley.html">Crowley</a></li>
          <li><a href="granbury.html">Granbury &amp; Surrounding Areas</a></li>
        </ul>
      </div>
      <div class="footer-social">
        <h4>Follow Us</h4>
        <div class="social-icons">
          <a href="https://www.facebook.com/profile.php?id=61591548193426" class="social-icon" aria-label="Facebook">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M24 12.073C24 5.41 18.627 0 12 0S0 5.41 0 12.073C0 18.1 4.388 23.094 10.125 24v-8.437H7.078v-3.49h3.047V9.41c0-3.025 1.792-4.697 4.533-4.697 1.312 0 2.686.236 2.686.236v2.97h-1.513c-1.491 0-1.956.93-1.956 1.886v2.267h3.328l-.532 3.49h-2.796V24C19.612 23.094 24 18.1 24 12.073z"/></svg>
          </a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom-left">
        &copy; {{ site.time | date: "%Y" }} Atlas Door Company. All rights reserved. &nbsp;|&nbsp;
        <a href="privacy-policy.html" style="color:rgba(255,255,255,.35);text-decoration:none;transition:color .2s;" onmouseover="this.style.color='#ff6a00'" onmouseout="this.style.color='rgba(255,255,255,.35)'">Privacy Policy</a>
        &nbsp;|&nbsp;
        <a href="terms.html" style="color:rgba(255,255,255,.35);text-decoration:none;transition:color .2s;" onmouseover="this.style.color='#ff6a00'" onmouseout="this.style.color='rgba(255,255,255,.35)'">Terms &amp; Conditions</a>
        &nbsp;|&nbsp; Designed by <a href="https://legacyivdigital.com" target="_blank" rel="noopener" style="color:rgba(255,255,255,.35);text-decoration:none;transition:color .2s;" onmouseover="this.style.color='#ff6a00'" onmouseout="this.style.color='rgba(255,255,255,.35)'">Legacy IV Digital Solutions</a>
      </div>
      <div class="footer-bottom-right">
        <a href="tel:+18172921948">817.292.1948</a>
        <span>Proudly Serving the DFW Area</span>
      </div>
    </div>
  </div>
</footer>
